# Directorios y archivos generados por Composer
vendor
composer.lock
vendor.zip
 
# Directorios y archivos generados por npm o yarn
node_modules/
npm-debug.log
 
# Entorno y configuraciones
.env
.env.backup
.env.example
 
# Directorio de caché de Laravel
bootstrap/cache/
 
# Directorio de almacenamiento de Laravel (excluye el almacenamiento de enlaces simbólicos)
storage/
!storage/.gitignore
/storage/*.key

# Directorio publico (enlace simbólico para almacenamiento)
public/storage
public/hot
/public/uploads/slides
/public/uploads/documents
/public/uploads/img
/public/uploads/employee_photo
/public/uploads/employee_curriculum_vitae
/public/uploads/employee_documents
/public/uploads/employee_contracts
/public/uploads/employee_personnel_actions
 
# Backups
/backups
 
# Docker
/docker
 
# Archivos temporales generados por el IDE o editores de texto
*.swp
*.swo
*.swn
/.idea/
.vscode/
.DS_Store
Thumbs.db
 
# Vagrant & Homestead
/.vagrant
Homestead.json
Homestead.yaml